
<% @categories.each do |category| %>
<div>
<h1><%= category.name %></h1>
    <%= link_to "View more", category %>
  <% 4.times do |num| %>
    <% product = category.products[num] %>    
    <p><%= image_tag(product.image, :width => "120px") %></p>
    <p><%= link_to product.name, product %></p>
  <% end %>
</div>
<% end %>
