<nav class="side_nav">
  <ul>
    <%= render @category %>
  </ul>
</nav>

<section class="products">
  <h1><%= @category.name %></h1>
  
  <%= render @product %>
  
  <p class="description">
    <%= @product.description %>
  </p>
</section>